<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slamby.TAU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Slamby.TAU.Properties.Settings>
      <setting name="EndpointSecret" serializeAs="String">
        <value>s3cr3t</value>
      </setting>
      <setting name="BulkSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="EndpointUri" serializeAs="String">
        <value>http://tautest/</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateFeed" serializeAs="String">
        <value>http://tau.slamby.com/install/</value>
      </setting>
      <setting name="GridSettingsDictionary" serializeAs="String">
        <value>{}</value>
      </setting>
      <setting name="Endpoints" serializeAs="String">
        <value>[{"ApiBaseEndpoint":"https://europe.slamby.com/demo/",  "ApiSecret": "s3cr3t",   "Timeout": "00:05:00",   "ParallelLimit": 0}]</value>
      </setting>
      <setting name="SelectedEndpoint" serializeAs="String">
        <value>{"ApiBaseEndpoint":"https://europe.slamby.com/demo/",  "ApiSecret": "s3cr3t",   "Timeout": "00:05:00",   "ParallelLimit": 0}</value>
      </setting>
    </Slamby.TAU.Properties.Settings>
  </userSettings>
</configuration>
