################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Slamby.TAU.Test/bin/Debug
/src/Slamby.TAU.Test/obj/Debug
/src/.vs/Slamby.TAU/v14
/src/packages
/src/Slamby.TAU/bin/Debug
/src/Slamby.TAU/obj/Debug
